@model HomeIndexViewModel
@{
    ViewBag.Title = "Home Page";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h2>Bucket List Activities</h2>

    @foreach (var bucket in Model.BucketDatas)
    {
        <h3>
            @bucket.Id
            @bucket.Activity
        </h3>

        <div>
            Activity type: 
            @bucket.ActivityType
        </div>

        <div>
            <a asp-action="Details" asp-route-id="@bucket.Id">...More</a>
            <a asp-page="/Activities/Edit" asp-route-id="@bucket.Id">...Edit</a>
        </div>
    }

    <br />
    <div><a asp-action="Create">Create bucket list activity</a></div>

    <div>
        @section footer {
            <h2>@Model.CurrentMessage</h2>
        }
    </div>

</body>
</html>
